@media screen and (min-width: 1200px) {
    .container {
      max-width: 1158px;
      align-items: center;
      padding: 0;
      width: 100%;
    }
    .header{
      padding: 0;
    }
    .header-logo {}
    .header-navigation {
      display: flex;
      align-items: center;
    }
    .header-link {
      position: relative;
      display: inline-block;}
    .address-list {
      display: flex;
      gap: 20px;
      margin-left: auto;
      }
    .address-link {
      padding: 24px 0px;
     font-size: 16px;
    line-height: 1.5;}
  
    .address {
     margin-left: auto;
      }
    .container {
      padding: 0;
     }
     .hero {
      height: 600px;
      width: 100%;
      background: var(--text-color);
      

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    }
    .team-section {
    padding-top: 120px;
    padding-bottom: 120px;}
    .team-section-lsit {
    gap: var(--universal-gap);
    }

    .customers-section {
      padding: 120px 0 120px 0;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-social {
    margin-left: 120px;
  }

  .footer-subscribe {
    margin-left: 80px;
  }}

  @media (min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1),
  (-o-min-device-pixel-ratio: 1/1),
  (min-resolution: 96dpi),
  (min-resolution: 1dppx) {
      .hero {
          background-image: linear-gradient(
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
              url(../images/hero-desktop.jpg);
          background-color: var(--secondary-background-color);
      }
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
              url(../images/hero-desktop@2x.jpg);
          background-color: var(--secondary-background-color);
      }
  }

  @media screen and (min-width: 1200px) {
    
  .values-section{
    padding-top: 120px;
    padding-bottom: 120px;
}


.values-section-list {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--universal-gap);
}

.values-section-item {
  width: calc((100%-72px) / 4);
}
.value-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-link-color);
  border-radius: 4px;
  margin-bottom: 8px;
  min-height: 112px;
}
.value-icon {
}
.values-section-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--text-color);
}
.values-section-item-text {
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: var(--text-color);
}
.footer-cards {

  flex-direction: row;
  gap: 0;
  align-items: normal;
  
}
.footer-link {
  text-align: left;
}
.footer-social {
  text-align: start;
}
.footer-social-header {
  text-align: left;
}
.footer-subscribe-header {
  text-align: left;
}


}

@media screen and (max-width: 1199px){
  .doing-section{
    display: none;
  }
  
}




