
.container{

}
.header-container{
  padding: 24px 16px;
}

.hero {
    height: 432px;
    background: var(--text-color);
    background-image: linear-gradient(var(--hero-eclipse), var(--hero-eclipse)),
      url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;}
.hero-slogan {
 /* Header 1 */
    display: block;
    font-size: 36px;
    line-height: 1.1;
    /* or 107% */

    margin-bottom: 48px;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--main-background);
    }
    


.values-section{
    padding-top: 96px;
    padding-bottom: 96px;

}
.values-section-list {
  display: block;
  }
/* .values-section-list:not(:last-child) {
margin-bottom: 72px;
} */

.values-section-item {

}
.value-item-box {
  display: none
}
.value-icon {
}
.values-section-item-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */
  
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--text-color);
}
.values-section-item-text {
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: var(--text-color);}

  @media screen and (min-width: 320px) and (max-width: 767px){
  .values-section-item:not(:last-child) {
    margin-bottom: 72px;
  }}

    @media screen and (min-width: 480px) {
    .container {
      width: 480px;
  
    }


      .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;

      }
     
      .hero-button {
        font-family: inherit;
        background: var(--logo-color);
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
      
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
      
        color: var(--main-background);
        border-style: none;
        /* Inside auto layout */
        transition: background-color var(--trans-dur-func);
      }
      .hero-button:hover {
        background-color: var(--hover-btn);
      }
  }









  @media screen and (max-width: 767px) {
    .header-list {
      display: none;
    }
    .address{
      display: none;
    }
  
  
    .burger-menu{
      position:fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: 100;
  
   }
   .burger-adress-social{
  position: absolute;
  bottom: 40px;}
  
   
   
   .value-item-box{
    display: none;
    
   }}