@media screen and (min-width: 768px){
  .container{
    width: 768px;
  }
    .header-container {

      padding-bottom: 10px;
      justify-content: space-between;
    }
    .header{
      padding-top: 24px;
      padding-bottom: 10px;
    }
    .header-list {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .burger-menu-btn {
      display: none;
    }
    .burger-menu{
      display: none;
    }
    .address{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .hero {
      height: 436px;
      background: var(--text-color);
  
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      max-width: 1440px;
      padding-top: 112px;
      padding-bottom: 112px;
    }
   .hero-slogan{
    font-size: 56px;
    min-width: 496px;
    margin: 0 auto 40px;
    line-height: 1.07;
    
  }
  
    .values-section-list{
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 72px;
    }
    .values-section-item{
      display: block;
      
      
  
    }
    .values-section-item-header {      
      text-align: left;}
    .values-section-item-text{
      margin-bottom: 0;}


.subscribe-wraper{

  flex-wrap:nowrap;
  flex-direction: row;

}}


@media screen and (min-width:768px) and (max-width:1199px) {


  .values.list {
      flex-wrap: wrap;
  }

  .values-section-item{
      max-width: calc((100% - 48px)/2);
  }
  
  .values-section-item:not(:nth-child(2n+1)) {
      margin-left: 24px;
  }
  
  .values-section-item:nth-last-child(-n+2) {
      margin-bottom: 0;
  }

  /* Team */

  .team-section-lsit {
    column-gap: var(--universal-gap);
    row-gap: 64px;
  }

  .footer-cards {
    flex-direction: row;
    align-items: normal;
}
.footer-link {
  text-align: left;
}
.footer-social-header {
  text-align: left;
}
.footer-subscribe-header {
  text-align: left;}
  .subscribe-wraper {
    flex-direction: row;}
    .subscribe-wraper{
      gap:24px;

}

  /* Background image */
 }

  @media (min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1),
  (-o-min-device-pixel-ratio: 1/1),
  (min-resolution: 96dpi),
  (min-resolution: 1dppx) {
      .hero {
          background-image: linear-gradient(
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
              url(../images/hero-tablet.jpg);
          background-color: var(--secondary-background-color);
      }
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
              url(../images/hero-tablet@2x.jpg);
          background-color: var(--secondary-background-color);
      }
  }
